/* [ ROUND: 1 || CODE: 3 BY: NIMASHA ] */
*
{
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: SourceSansPro-Regular, sans-serif;
}


/* [ ROUND: 1 || CODE: 4 BY: DHANANJANI ] */

/* [ ROUND: 1 || CODE: 5 BY: ANUTTARA ] */

/* [ ROUND: 1 || CODE: 6 BY: SAHEEKA ] */

/* [ ROUND: 1 || CODE: 7 BY: GOBIA ] */

