
<div class="container">
  <div class="header">
      <h2>User Login</h2>
  </div>

  <form class="form" id="form">
      <!-- Div Tag for Username -->
      <div class="form-control">
          <label>Username</label>
          <br>
          <input type="text" placeholder="Username" id="username">
      </div>

      <br><br>

      <!-- Div Tag for Password -->
      <div class="form-control">
          <label>Password</label>
          <br>
          <input type="password" placeholder="Password" id="password">

      </div>

      <br><br><br>

      <button><a routerLink="/Menu">Login</a></button>
  </form>
</div>
