/* [ ROUND: 1 || CODE: 3 BY: NIMASHA ] */
*
{
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: SourceSansPro-Regular, sans-serif;
}


/* [ ROUND: 1 || CODE: 4 BY: DHANANJANI ] */

/* [ ROUND: 1 || CODE: 5 BY: ANUTTARA ] */

/* [ ROUND: 1 || CODE: 6 BY: SAHEEKA ] */
input {
    outline: none;
    border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input::-webkit-input-placeholder { color: #4b2354;}
input:-moz-placeholder { color: #4b2354;}
input::-moz-placeholder { color: #4b2354;}
input:-ms-input-placeholder { color: #4b2354;}

textarea::-webkit-input-placeholder { color: #4b2354;}
textarea:-moz-placeholder { color: #4b2354;}
textarea::-moz-placeholder { color: #4b2354;}
textarea:-ms-input-placeholder { color: #4b2354;}  
/*---------------------------------------------*/

/* [ ROUND: 1 || CODE: 7 BY: GOBINA ] */
button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}


/* [ ROUND: 1 || CODE: 8 BY: MILANGA ] */



/* [ ROUND: 1 || CODE: 9 BY: AMILA ] */



/* [ ROUND: 1 || CODE: 10 BY: CHAMELI ] */
